<table class="table movietable">
    <tr>
        <td><h3>Details for {{movie.title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Movie movieId</td>
        <td>{{movie.movieId}}</td>
    </tr>
    <tr>
        <td>movieName</td>
        <td>{{movie.movieName}}</td>
    </tr>
    <tr>
        <td>Movie lang</td>
        <td>{{movie.lang}}</td>
    </tr>
    <tr>
        <td>Movie displayName</td>
        <td>{{movie.displayName}}</td>
    </tr>
     <tr>
        <td>Movie data</td>
        <td>{{movie.data}}</td>
    </tr>
     <tr>
        <td>Movie genre</td>
        <td>{{movie.genre}}</td>
    </tr>
     <tr>
        <td>Movie casting</td>
        <td>{{movie.casting}}</td>
    </tr>
     <tr>
        <td>Movie director</td>
        <td>{{movie.director}}</td>
    </tr>
     <tr>
        <td>Movie musicDirector</td>
        <td>{{movie.musicDirector}}</td>
    </tr>
     <tr>
        <td>Movie overAllRating</td>
        <td>{{movie.overAllRating}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editMovie({id:movie._id})">Edit</a>
</div>